<div class="fluid-container ">

    <mat-card class="mt10 scroll2">
  
      <div class="fixtop">
        <h2 class="mt10" style="font-size: large; text-align: center;"> Stock Out</h2>
       <div class="mb10 mr20 " style="text-align: right;">
        <a class="img mr20"  [routerLink]="'/dashboard/add-stockout/'"> <img  matTooltip=" New Stock Out Entry" src="../../../assets/images/add.png" alt="" width="45" height="45">
        </a>
        <a class="img pointer-link ml20"  (click)="exportexcel()"> <img mdTooltipPosition='BottomCenter' matTooltip="Export to excel" src="../../../assets/images/xls-file.png" alt="" width="45" height="45">
        </a>
       </div>
        <mat-divider></mat-divider>
      </div>
  
      <table id="excel-table" mat-table [dataSource]="stockout" class="mat-elevation-z8">
  
       
        <!-- Position Column -->
      <ng-container matColumnDef="sin_id">
        <th mat-header-cell *matHeaderCellDef> Serial No </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="materialName">
        <th mat-header-cell *matHeaderCellDef> Material Name </th>
        <td mat-cell *matCellDef="let element"> {{element.materialName}} </td>
      </ng-container>


      <!-- Category Name-->
      <ng-container matColumnDef="categoriesName">
        <th mat-header-cell *matHeaderCellDef> Category Name</th>
        <td mat-cell *matCellDef="let element"> {{element.categoriesName}} </td>
      </ng-container>

      



      <!--quantity-->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>



      <!--Stock In-->
      <ng-container matColumnDef="stock_out">
        <th mat-header-cell *matHeaderCellDef>Stock Out</th>
        <td mat-cell *matCellDef="let element"> {{element.stock_out}} </td>
      </ng-container>

      <!--Price-->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let stockout"> <a class="mr20 " [routerLink]="'/dashboard/update-stockout/'+stockout.sout_id" matTooltip="Edit"><i class="material-icons">edit</i>  </a>
            <a class="clr pointer-link"   (click)="deleteStockout(stockout.sout_id)"  matTooltip="Delete"><i class="material-icons">delete</i>  </a>
         
          </td>
          
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
  
    </mat-card>
  
  
  
   
  
  </div>