<div class="fluid-container ">

    <mat-card class="mt10 scroll" >
        <h2 class="mt10" style="font-size: large; text-align: center;"> Stock Out</h2>
        <mat-divider></mat-divider>
        <div class="row mt20 ml10">
            <div class="col-md-6 ">
                <mat-form-field class="w90" appearance="outline">
                    <mat-label>Select Material Id</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
  
            </div>
            <div class="col-md-6 ">
                <mat-form-field class="w90" appearance="outline">
                    <mat-label>Select Ctaegory Id</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
  
            </div>
        </div>
  
        <div class="row mt10 ml10">
            <div class="col-md-6 ">
                <mat-form-field class="w90" appearance="outline">
                    <mat-label>Quantity</mat-label>
                    <input matInput>
                </mat-form-field>
  
            </div>
            <div class="col-md-6 ">
                <mat-form-field class="w90" appearance="outline">
                    <mat-label>Stock Out</mat-label>
                    <input matInput>
                </mat-form-field>
  
            </div>
        </div>
  
        <div class="row mt10 ml10">
          <div class="col-md-6 ">
              <mat-form-field class="w90" appearance="outline">
                  <mat-label>Case Id </mat-label>
                  <input matInput>
              </mat-form-field>
  
          </div>
          <div class="col-md-6 ">
              <mat-form-field class="w90" appearance="outline">
                  <mat-label>Stock Remaining</mat-label>
                  <input matInput>
              </mat-form-field>
  
          </div>
      </div>
  
      <div class="row mt10 ml10">
        <div class="col-md-6 ">
            <mat-form-field class="w90" appearance="outline">
                <mat-label>Issued By</mat-label>
                <input matInput>
            </mat-form-field>
  
        </div>
        <div class="col-md-6 ">
            <mat-form-field class="w90" appearance="outline">
                <mat-label>Issued To</mat-label>
                <input matInput>
            </mat-form-field>
  
        </div>
    </div>
  
    <div class="row mt10 ml10">
        <div class="col-md-6 ">
            <mat-form-field class="w90" appearance="outline">
                <mat-label>Manufacturer Lot No</mat-label>
                <input matInput>
            </mat-form-field>
  
        </div>
        <div class="col-md-6 ">
            <mat-form-field class="w90" appearance="outline">
                <mat-label>  Created By </mat-label>
                <input disabled matInput>
            </mat-form-field>
  
        </div>
    </div>
      
    </mat-card>
   <mat-card >
    <button  class="logbtn" type="submit" mat-raised-button color="#f68121"
    style="background-color: #f68121; border-radius: 10px;">Update</button>
  
   </mat-card>
  </div>
