<mat-card class="mt10 scroll">
    <mat-action-list>
        <div mat-subheader> <h1> Menu</h1> </div>
        <mat-divider></mat-divider>
        <button  mat-list-item routerLink="/dashboard"><mat-icon mat-list-icon > home</mat-icon> Home </button>
        
        <button mat-list-item routerLink="/dashboard/material" ><mat-icon mat-list-icon> <i class="material-icons">shopping_bag</i></mat-icon>Materials </button>
        
        <button mat-list-item routerLink="/dashboard/categories"><mat-icon mat-list-icon> view_list</mat-icon>Categories </button>
        <button mat-list-item routerLink="/dashboard/stockin"><mat-icon mat-list-icon><i class="material-icons">production_quantity_limits</i> </mat-icon>Stock In </button>
        
        <button mat-list-item routerLink="/admin-dashboard/add-categories" ><mat-icon mat-list-icon> note_add</mat-icon>Add Categories </button>
        
        <button mat-list-item routerLink="/admin-dashboard/users"><mat-icon mat-list-icon><i class="material-icons">supervised_user_circle</i></mat-icon>Users </button>
        
        <button mat-list-item routerLink="/admin-dashboard/add-user"><mat-icon mat-list-icon><i class="material-icons">group_add</i> </mat-icon>Add User </button>
        <button mat-list-item  routerLink="/profile"> <mat-icon mat-list-icon> account_circle</mat-icon>Profile </button>
    </mat-action-list>
        
            
            
    </mat-card>
