.scroll {
    margin:4px, 4px;
    padding:4px;
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

@media screen and (max-width: 480px) {
    .scroll {
        margin:4px, 4px;
    padding:10px;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    margin-bottom: 10px;
    }
  }

  .btns{
    background-color:  #e3f2fd;
   margin-top: 10px;
   margin-bottom: 5px;
 width: 90%;
 margin-left: auto;
 margin-right: auto;
   border-radius: 5px;
   transition-duration: 0.4s;
 
  }
  .btns:hover {
    background-color: #f68121; /* Green */
    color: white;
  }

  .menu{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
  }
 