<mat-card class="mt10 scroll">
    <mat-action-list>
        <button style="pointer-events: none;">
            <div mat-subheader> <img src="../../../assets/images/sidebaricons/list.png" class="mb10 ml20 mr20 "
                    alt="img" width="25" height="25">
                <span class="menu">Menu </span>
            </div>
        </button>
        <mat-divider></mat-divider>
        <div>
            <button style="padding-top: 5px;" class="btns" mat-list-item routerLink="/dashboard">
                <img src="../../../assets/images/sidebaricons/home.png" class="mb10 ml10" alt="img" width="20"
                    height="20">
                <span style="font-size: large;" class="mt20 ml10">Home</span> </button>

            <button style="padding-top: 5px;" class="btns" mat-list-item routerLink="/dashboard/material">
                <img src="../../../assets/images/sidebaricons/supply.png" class="mb10 ml10" alt="img" width="25"
                    height="25">
                <span style="font-size: large;" class="mt20 ml10">Materials</span> </button>

            <button style="padding-top: 5px;" class="btns" mat-list-item routerLink="/dashboard/categories">
                <img src="../../../assets/images/sidebaricons/categories.png" class="mb10 ml10" alt="img" width="25"
                    height="25">
                <span style="font-size: large;" class="mt20 ml10">Categories</span> </button>
            <button style="padding-top: 5px;" class="btns" mat-list-item routerLink="/dashboard/stockin">
                <img src="../../../assets/images/sidebaricons/in-stock.png" class="mb10 ml10" alt="img" width="25"
                    height="25">
                <span style="font-size: large;" class="mt20 ml10">Stock In</span> </button>
            <button style="padding-top: 5px;" class="btns" mat-list-item routerLink="/dashboard/stockout">
                <img src="../../../assets/images/sidebaricons/out-of-stock.png" class="mb10 ml10" alt="img" width="25"
                    height="25">
                <span style="font-size: large;" class="mt20 ml10">Stock Out</span> </button>
            <button style="padding-top: 5px;" class="btns" mat-list-item routerLink="/dashboard/vendor">
                <img src="../../../assets/images/sidebaricons/seller.png" class="mb10 ml10" alt="img" width="25"
                    height="25">
                <span style="font-size: large;" class="mt20 ml10">Vendor</span> </button>
                <button style="padding-top: 5px;" class="btns" mat-list-item routerLink="/dashboard/caseid">
                    <img src="../../../assets/images/sidebaricons/search.png" class="mb10 ml10" alt="img" width="25"
                        height="25">
                    <span style="font-size: large;" class="mt20 ml10">Search By Case Id</span> </button>

          
                <button style="padding-top: 5px;" class="btns" mat-list-item routerLink="/dashboard/description">
                <img src="../../../assets/images/sidebaricons/job-description.png" class="mb10 ml10" alt="img"
                    width="25" height="25">
                <span style="font-size: large;" class="mt20 ml10">Description</span> </button>
            <button style="padding-top: 5px;" class="btns" mat-list-item routerLink="/dashboard/scrapping">
                <img src="../../../assets/images/sidebaricons/scrap.png" class="mb10 ml10" alt="img" width="25"
                    height="25">
                <span style="font-size: large;" class="mt20 ml10">Scrapping</span> </button>
          
        </div>
    </mat-action-list>



</mat-card>