<div class="fluid-container ">

  <mat-card class="mt10 scroll">
    <h2 class="mt10" style="font-size: large; text-align: center;"> Categories</h2>
    <mat-divider></mat-divider>


    <div class="row mt10 ml10 mr10">
      <div class="col-md-12 ">
        <mat-form-field class="w100" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput>
        </mat-form-field>

      </div>

    </div>



  </mat-card>
  <mat-card>
    <button class="logbtn" type="submit" mat-raised-button color="#f68121"
      style="background-color: #f68121; border-radius: 10px;">Update</button>

  </mat-card>
  <mat-card class="mt20 scroll2">

    <div class="fixtop">
      <h2 class="mt10" style="font-size: large; text-align: center;"> Categories List</h2>
      <mat-divider></mat-divider>
    </div>

    <table mat-table [dataSource]="categories" class="mat-elevation-z8">

     
      <!-- Position Column -->
      <ng-container matColumnDef="c_id">
        <th mat-header-cell *matHeaderCellDef> C ID </th>
        <td mat-cell *matCellDef="let element"> {{element.c_id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

  
      <!-- Weight Column -->
      <ng-container matColumnDef="created_At">
        <th mat-header-cell *matHeaderCellDef> Created At </th>
        <td mat-cell *matCellDef="let element"> {{element.created_At}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="created_by">
        <th mat-header-cell *matHeaderCellDef> Created By </th>
        <td mat-cell *matCellDef="let element"> {{element.created_by}} </td>
      </ng-container>


      

      <ng-container class="mr10" matColumnDef="last_Modified_by">
        <th mat-header-cell *matHeaderCellDef> Last Modified By</th>
        <td mat-cell *matCellDef="let element"> {{element.last_Modified_by}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </mat-card>




</div>