<div class="fluid-container ">

  <mat-card class="mt10 scroll2">

    <div class="fixtop">
      <h2 class="mt10" style="font-size: large; text-align: center;"> Categories List</h2>
     <div class="mb10 mr20 " style="text-align: right;">
      <a class="img"  [routerLink]="'/dashboard/add-category/'"> <img  matTooltip="Add New Category" src="../../../assets/images/add.png" alt="" width="45" height="45">
      </a>
     </div>
      <mat-divider></mat-divider>
    </div>

    <table mat-table [dataSource]="categories" class="mat-elevation-z8">

     
      <!-- Position Column -->
      <ng-container matColumnDef="c_id">
        <th mat-header-cell *matHeaderCellDef> C ID </th>
        <td mat-cell *matCellDef="let element"> {{element.c_id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

  
      <!-- Weight Column -->
      <ng-container matColumnDef="created_At">
        <th mat-header-cell *matHeaderCellDef> Created At </th>
        <td mat-cell *matCellDef="let element"> {{element.created_At | date: 'dd/MM/yy '}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="created_by">
        <th mat-header-cell *matHeaderCellDef> Created By </th>
        <td mat-cell *matCellDef="let element"> {{element.created_by}} </td>
      </ng-container>


      

      <ng-container class="mr10" matColumnDef="last_Modified_by">
        <th mat-header-cell *matHeaderCellDef> Last Modified By</th>
        <td mat-cell *matCellDef="let element"> {{element.last_Modified_by}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let categories"> <a class="mr20 " [routerLink]="'/dashboard/update-category/'+categories.c_id" matTooltip="Edit"><i class="material-icons">edit</i>  </a>
          <a class="clr" [routerLink]="'/dashboard/update-category/'+categories.c_id" matTooltip="Delete"><i class="material-icons">delete</i>  </a>
        
        </td>
        
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </mat-card>



 

</div>