.w100{
    width: 50%;
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
    margin-left: auto;
}
.logbtn{
    width: 15%;
    margin: auto;
 margin-bottom: 18px;
 margin-top: 10px;
 padding: 10px;
}

.w90{
    width: 90%;
}

.w100{
    width: 100%;
}
.scroll {
    margin:4px, 4px;
    padding:4px;
    height: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}