
<mat-card class="mt10 scroll" > 
      
    <h2 class="mt10" style="font-size: large; text-align: center;">Add Material</h2>
    <mat-divider></mat-divider>
    <form  (ngSubmit)="formSubmit()" #addMaterialForm="ngForm">
    <div class="row mt20 ml10">
        <div class="row mt10 ml10">
            <div class="col-md-6 ">
                <mat-form-field class="w90" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input required [(ngModel)]="material.name" name="m_name"  matInput>
                </mat-form-field>
    
            </div>
            <div class="col-md-6 ">
                <mat-form-field class="w90" appearance="outline">
                    <mat-label>Dimension</mat-label>
                    <input  [(ngModel)]="material.dimension" name="dimension" matInput>
                </mat-form-field>
    
            </div>
        </div> 
       
    </div>
    <div class="row mt20 ml10">
        <div class="row mt10 ml10">
            <div class="col-md-12 ">
                <mat-form-field class="w100 " appearance="outline">
                    <mat-label>Select Ctaegory</mat-label>
                    <mat-select required [(ngModel)]="material.c_id" name="c_id">
                        <mat-option required *ngFor="let c of category" [value]="c.c_id">
                            {{c.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
    
            </div>
           
        </div> 
       
    </div>
    
  
    <!-- <div class="row mt10 ml10">
        <div class="col-md-6 ">
            <mat-form-field class="w90" appearance="outline">
                <mat-label>Created By</mat-label>
                <input [(ngModel)]="material.created_by" required name="creadtedby" disabled matInput>
            </mat-form-field>

        </div>
      
    </div>  -->

    <div class="text-center mb10 mt20">
        <button class="mt20 btncls" type="submit" [disabled]="addMaterialForm.form.invalid" mat-raised-button
            style="background-color: #f68121; border-radius: 10px;">Add</button>
    </div>
    </form>
</mat-card>
