
    
<div class="fluid-container footer">
    <div class="row ">
        <nav class=navbar navbar-expand-lg navbar-light style="background-color: #e3f2fd;">
            

        <div class="col-md-6 ">
               <a class="navbar-brand logo" href="#">
                    <img src="../../../assets/images/logo.png" width="85" height="90" class="d-inline-block align-top"
                        alt="">

                </a> </div>
                <div class="col-md-6 col-sm-offset-0 paki "  >
                   
                           
                                <a href="http://www.32watts.com/" target="_blank"> PATIENT</a>
                                <a href="http://www.32watts.com/" target="_blank"> DENTIST</a>
                           
                           
                                <a href="http://www.32watts.com/about.html" target="_blank"> ABOUT</a>
                        
                                <a href="https://www.32watts.com/blog/" target="_blank">BLOG</a>
                            
                </div>
      
         

                <mat-divider></mat-divider>    
    </nav>
      
   
    
    </div>
</div>

