<div class="fluid-container footer">
    <div class="row ">
        <nav class=navbar navbar-expand-lg navbar-light style="background-color: #e3f2fd;">


            <div class="col-md-6  ">
                <a class="navbar-brand logo" routerLink="/dashboard/">
                    <img src="../../../assets/images/logo.png" width="85" height="90" class="d-inline-block align-top"
                        alt="">

                </a>
            </div>
            <div *ngIf="isloggedIn" class="col-md-6 paki" style="text-align: right;">
                <button color="primary" (click)="logout()" matTooltip="Logout" mat-icon-button
                    class="example-icon favorite-icon ml10 mr30 "><mat-icon>logout</mat-icon></button>


            </div>
            <div class="col-md-6 col-sm-offset-0 paki ">


                <a *ngIf="!isloggedIn" [routerLink]="'/'" href="http://www.32watts.com/" target="_blank"> DENTIST</a>
                <a *ngIf="!isloggedIn" [routerLink]="'/'" href="http://www.32watts.com/" target="_blank"> PATIENT</a>


                <a *ngIf="!isloggedIn" [routerLink]="'/'" href="http://www.32watts.com/about.html" target="_blank">
                    ABOUT</a>

                <a *ngIf="!isloggedIn" [routerLink]="'/'" href="https://www.32watts.com/blog/" target="_blank">BLOG</a>


            </div>




            <mat-divider></mat-divider>
        </nav>



    </div>
</div>