<div class="fluid-container">



  <mat-card class="mt10 scroll2">

    <div class="fixtop mb20">
      <h2 class="mt10" style="font-size: large; text-align: center;"> Search By Case Id</h2>
      <div class="row mb10 mr20 ml20">
        <div class="col-md-6">
          <form (ngSubmit)="formSubmit()" class="example-form">
            <mat-form-field style="width: 80%;">
              <span matPrefix> </span>
              <input autofocus class="ml10" type="tel" matInput placeholder="Enter Case Id" name="search"
                [(ngModel)]="search">
              <button style="background-color: #f68121;" class="ml10 mr10" type="submit" matSuffix mat-button>
                Search</button>
            </mat-form-field>
            <br />
          </form>
        </div>
        <!-- <div class="col-md-6" style="text-align: right;">

          <a class="img pointer-link ml20"> <img mdTooltipPosition='BottomCenter' matTooltip="Export to excel"
              src="../../../assets/images/xls-file.png" alt="" width="45" height="45">
          </a>

        </div> -->

      </div>
      <mat-divider></mat-divider>
    </div>

    <!-- if search result found on stagging -->
    <div *ngIf="getcaseid" class=" mb10" style="padding: 10px;">
      <mat-card style="background-color: #e3f2fd;">

        <h3 class="mt10" style="font-size: large; text-align: center;">Search Result For Case Id : {{ getcaseid.caseid
          }} </h3>

        <div class="row mt10 ml10">
          <div class="col-md-6 ">
            <mat-form-field class="w90" appearance="outline">
              <mat-label>Case Id</mat-label>

              <input value={{getcaseid.caseid}} readonly required name="date" matInput>
            </mat-form-field>

          </div>
          <div class="col-md-6 "> 
            <mat-form-field class="w90" appearance="outline">
              <mat-label>Patient Name</mat-label>
              <input value={{getcaseid.patient_name}} readonly required name="patient_name" matInput>
            </mat-form-field>

          </div>
        </div>

        <div class="row mt10 ml10">
          <div class="col-md-6 ">
            <mat-form-field class="w90" appearance="outline">
              <mat-label>Doctor Name</mat-label>
              <input value={{getcaseid.d_name}} readonly required name="remark" matInput>
            </mat-form-field>

          </div>
          <div class="col-md-6 ">
            <mat-form-field class="w90" appearance="outline">
              <mat-label>CRM</mat-label>
              <input value={{getcaseid.crm}} readonly required name="crm" matInput>
            </mat-form-field>

          </div>
        </div>

      </mat-card>

    </div>


    <!-- if no case id -->
    <div *ngIf="!getcaseid" style="margin: auto;" class="text-center mt20">
      <h2> No result to display. Try Searching with different Id</h2>
    </div>

    <div *ngIf="getcaseid">



      <mat-accordion [multi]="true" #firstAccordion="matAccordion">

        <!-- planning -->
        <mat-expansion-panel class="mb10 ml10 mr10" #mapanel="matExpansionPanel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Planning
            </mat-panel-title>
            <mat-panel-description>
              Get details of planning

            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="scroll3">
            <mat-card class="mt20 mb20" *ngFor="let p of planning;">



              <form>


                <div class="row mt10 ml10">
                  <div class="col-md-6 ">
                    <mat-form-field class="w90" appearance="outline">
                      <mat-label>Planned No</mat-label>
                      <input value={{p.planned_no}} readonly required name="upper_aligner_from" matInput>
                    </mat-form-field>

                  </div>
                  <div class="col-md-6 ">
                    <mat-form-field class="w90" appearance="outline">
                      <mat-label>Planning Type</mat-label>
                      <input value={{p.planning_type}} readonly required name="upper_aligner_to" matInput>
                    </mat-form-field>

                  </div>

                </div>
                <div class="row mt10 ml10">
                  <div class="col-md-6 ">
                    <mat-form-field class="w90" appearance="outline">
                      <mat-label>Upper Aligner From</mat-label>
                      <input value={{p.upper_aligner_from}} readonly required name="lower_aligner_from" matInput>
                    </mat-form-field>

                  </div>
                  <div class="col-md-6 ">
                    <mat-form-field class="w90" appearance="outline">
                      <mat-label>Upper Aligner To</mat-label>
                      <input value={{p.upper_aligner_to}} readonly required name="lower_aligner_to" matInput>
                    </mat-form-field>

                  </div>
                </div>
                <div class="row mt10 ml10">
                  <div class="col-md-6 ">
                    <mat-form-field class="w90" appearance="outline">
                      <mat-label>Lower Aligner From</mat-label>
                      <input value={{p.lower_aligner_from}} readonly required name="lower_aligner_from" matInput>
                    </mat-form-field>

                  </div>
                  <div class="col-md-6 ">
                    <mat-form-field class="w90" appearance="outline">
                      <mat-label>Lower Aligner To</mat-label>
                      <input value={{p.lower_aligner_to}} readonly required name="lower_aligner_to" matInput>
                    </mat-form-field>

                  </div>
                </div>



              </form>
            </mat-card>
          </div>



          <mat-action-row>
            <button mat-flat-button (click)="mapanel.close()">Click to close</button>
          </mat-action-row>
        </mat-expansion-panel>




        <!-- STAGGING -->
        <!-- <mat-expansion-panel class="mb10 ml10 mr10 mt10 " #mapanel="matExpansionPanel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Stagging
            </mat-panel-title>
            <mat-panel-description>
              Get details of stagging

            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="scroll">
            <mat-card class="mt20 mb20" *ngFor="let s of stagging; let i = index">

              <div class="text-center mt10 mb10">
                <h3> Stagging data {{ i + 1 }}</h3>
                <mat-divider></mat-divider>
              </div>

              <form>


                <div class="row mt10 ml10">
                  <div class="col-md-6 ">
                    <mat-form-field class="w90" appearance="outline">
                      <mat-label>Upper Aligner From</mat-label>
                      <input value={{s.upper_aligner_from}} readonly required name="upper_aligner_from" matInput>
                    </mat-form-field>

                  </div>
                  <div class="col-md-6 ">
                    <mat-form-field class="w90" appearance="outline">
                      <mat-label>Upper Aligner To</mat-label>
                      <input value={{s.upper_aligner_to}} readonly required name="upper_aligner_to" matInput>
                    </mat-form-field>

                  </div>

                </div>
                <div class="row mt10 ml10">
                  <div class="col-md-6 ">
                    <mat-form-field class="w90" appearance="outline">
                      <mat-label>Lower Aligner From</mat-label>
                      <input value={{s.lower_aligner_from}} readonly required name="lower_aligner_from" matInput>
                    </mat-form-field>

                  </div>
                  <div class="col-md-6 ">
                    <mat-form-field class="w90" appearance="outline">
                      <mat-label>Lower Aligner To</mat-label>
                      <input value={{s.lower_aligner_to}} readonly required name="lower_aligner_to" matInput>
                    </mat-form-field>

                  </div>
                </div>
                <div class="row mt10 ml10">
                  <div class="col-md-6 ">
                    <mat-form-field class="w90" appearance="outline">
                      <mat-label>Thickness Upper</mat-label>
                      <input value={{s.thick_upper}} readonly required name="thick_upper" matInput>
                    </mat-form-field>

                  </div>
                  <div class="col-md-6 ">
                    <mat-form-field class="w90" appearance="outline">
                      <mat-label>Thickness Lower</mat-label>
                      <input value={{s.thick_lower}} readonly required name="thick_lower" matInput>
                    </mat-form-field>

                  </div>
                </div>
                <div class="row mt10 ml10">
                  <div class="col-md-6 ">
                    <mat-form-field class="w90" appearance="outline">
                      <mat-label>Margin Upper</mat-label>
                      <input value={{s.margin_upper}} readonly required name="margin_upper" matInput>
                    </mat-form-field>

                  </div>
                  <div class="col-md-6 ">
                    <mat-form-field class="w90" appearance="outline">
                      <mat-label>Margin Lower</mat-label>
                      <input value={{s.margin_lower}} readonly required name="margin_lower" matInput>
                    </mat-form-field>

                  </div>
                </div>
                <div class="row mt10 ml10">
                  <div class="col-md-6 ">
                    <mat-form-field class="w90" appearance="outline">
                      <mat-label>3rd Molar Upper</mat-label>
                      <input value={{s.molor_upper}} readonly required name="molor_upper" matInput>
                    </mat-form-field>

                  </div>
                  <div class="col-md-6 ">
                    <mat-form-field class="w90" appearance="outline">
                      <mat-label>3rd Molar Lower</mat-label>
                      <input value={{s.molor_lower}} readonly required name="molor_lower" matInput>
                    </mat-form-field>

                  </div>
                </div>
                <div class="row mt10 ml10">
                  <div class="col-md-6 ">
                    <mat-form-field class="w90" appearance="outline">
                      <mat-label>Sheet Type</mat-label>
                      <input value={{s.sheet_type}} readonly required name="sheet_type" matInput>
                    </mat-form-field>

                  </div>
                  <div class="col-md-6 ">
                    <mat-form-field class="w90" appearance="outline">
                      <mat-label>IPR Sheet</mat-label>
                      <input value={{s.ipr_sheet_}} readonly required name="upper_aligner_to" matInput>
                    </mat-form-field>

                  </div>
                </div>
              </form>
            </mat-card>
          </div>

          <mat-action-row>
            <button mat-flat-button (click)="closeAllPanels()">Click to close</button>
          </mat-action-row>
        </mat-expansion-panel> -->



        <!-- 3d printing -->
        <mat-expansion-panel class="mb10 ml10 mr10" #mapanel="matExpansionPanel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              3'D Printing
            </mat-panel-title>
            <mat-panel-description>
              Get details of 3'D Printing
            </mat-panel-description>
          </mat-expansion-panel-header>



          <mat-action-row>
            <button mat-flat-button (click)="closeAllPanels()">Click to close</button>
          </mat-action-row>
        </mat-expansion-panel>



        <!-- Account -->
        <mat-expansion-panel class="mb10 ml10 mr10" #mapanel="matExpansionPanel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Account
            </mat-panel-title>
            <mat-panel-description>
              Get details of account

            </mat-panel-description>
          </mat-expansion-panel-header>

          <div>
            <mat-card class="mt20 mb20">

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Mode</th>
                    <th scope="col">Paid Amount</th>
                    <th scope="col">Total Paid Amount</th>
                    <th scope="col">Revoke Amount</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Remarks</th>
                    <th scope="col">Date</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let a of account; let k = index">
                    <th scope="row">{{ k + 1 }}</th>
                    <td>{{a.payment_mode}}</td>
                    <td>{{a.paid_amount}}</td>
                    <td>{{a.submitted_amount}}</td>
                    <td>{{a.revoke_amount}}</td>
                    <td>{{a.payment}}</td>
                    <td>{{a.remarks}}</td>
                    <td>{{a.date | date: 'dd/MM/yy '}}</td>

                  </tr>


                </tbody>
              </table>
            </mat-card>
          </div>

          <mat-action-row>
            <button mat-flat-button (click)="closeAllPanels()">Click to close</button>
          </mat-action-row>
        </mat-expansion-panel>



        <!-- dispatch -->
        <mat-expansion-panel class="mb10 ml10 mr10" #mapanel="matExpansionPanel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Dispatch
            </mat-panel-title>
            <mat-panel-description>
              Get details of dispatch

            </mat-panel-description>
          </mat-expansion-panel-header>


          <div>
            <mat-card class="mt20 mb20">

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Date</th>
                    <th scope="col">Delivery Note</th>
                    <th scope="col">Address</th>
                    <th scope="col">Upper(F/T)</th>
                    <th scope="col">Lower(F/T)</th>
                    <th scope="col">Tracking Id</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let d of dispatch; let l = index">
                    <th scope="row">{{ l + 1 }}</th>
                    <td>{{d.date | date: 'dd/MM/yy '}}</td>
                    <td>{{d.delivery_nn}}</td>
                    <td>{{d.address}}</td>
                    <td>{{d.upper_aligner_from}}-{{d.upper_aligner_to}}</td>
                    <td>{{d.lower_aligner_from}}-{{d.lower_aligner_to}}</td>
                    <td>{{d.tracking_id}}</td>


                  </tr>


                </tbody>
              </table>
            </mat-card>
          </div>
          <mat-action-row>
            <button mat-flat-button (click)="closeAllPanels()">Click to close</button>
          </mat-action-row>
        </mat-expansion-panel>



      </mat-accordion>

    </div>
  </mat-card>

</div>