<div class="fluid-container ">

    <mat-card class="mt10 scroll">
        <h2 class="mt10" style="font-size: large; text-align: center;">Update Stock In</h2>
        <mat-divider></mat-divider>

        <form (ngSubmit)="formSubmit()"  #addStockInForm="ngForm">

        <div class="row mt20 ml10">
            <div class="col-md-6 ">
                <mat-form-field class="w90" appearance="outline">
                    <mat-label>Select Material Name</mat-label>
                    <mat-select required [(ngModel)]="stockin.m_id" name="m_id">
                        <mat-option required *ngFor="let m of material" [value]="m.m_id">
                            {{m.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="col-md-6 ">
                <mat-form-field class="w90" appearance="outline">
                    <mat-label>Select Ctaegory Name</mat-label>
                    <mat-select required [(ngModel)]="stockin.c_id" name="c_id">
                        <mat-option required *ngFor="let c of category" [value]="c.c_id">
                            {{c.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </div>
        <div class="row mt10 ml10">
            <div class="col-md-6 ">
                <mat-form-field class="w90" appearance="outline">
                    <mat-label>Manufacturer Lot No</mat-label>
                    <input  [(ngModel)]="stockin.menufacture_lot_no" name="menufacture_lot_no"  matInput>
                </mat-form-field>

            </div>
            <div class="col-md-6 ">
                <mat-form-field class="w90" appearance="outline">
                    <mat-label>Select Vendor Name</mat-label>
                    <mat-select  required [(ngModel)]="stockin.vendor_id" name="vendor_id">
                   

                        <mat-option  required *ngFor="let v of vendor" [value]="v.vendor_id">
                            {{v.name}}  
                             </mat-option>
                      
                    </mat-select>    
                </mat-form-field>

            </div>
        </div>
        <div class="row mt10 ml10">
            <div class="col-md-4 ">
                <mat-form-field class="w90" appearance="outline">
                    <mat-label>Quantity</mat-label>
                    <input required  [(ngModel)]="stockin.quantity" name="quantity" matInput>
                </mat-form-field>

            </div>
            <div class="col-md-4 ">
                <mat-form-field class="w90" appearance="outline">
                    <mat-label>Stock In</mat-label>
                    <input required [(ngModel)]="stockin.stock_in" name="stock_in" matInput>
                </mat-form-field>

            </div>
            <div class="col-md-4 ">
                <mat-form-field class="w80" appearance="outline">
                    <mat-label>Price</mat-label>
                    <input required [(ngModel)]="stockin.price" name="price" matInput>
                </mat-form-field>

            </div>
        </div>

     
        <div class="text-center mb10 mt20">
        <button class="logbtn" type="submit" mat-raised-button color="#f68121"
        [disabled]="addStockInForm.form.invalid"   style="background-color: #f68121; border-radius: 10px;">Update Stock</button>
</div>
        </form>
    </mat-card>
  
   
</div>