body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  
h1{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        text-align: center;
        font-size: 3rem;
       letter-spacing: 4px;
       color: rgb(77, 79, 75);
       padding: 5px;
        
}
.matform{
    padding: 10px;
   
}
.des{
    max-width: 500px;
    text-align: center;
    margin: auto;
    min-height: auto;
}
.logbtn{
    width: 20%;
    margin: auto;
 margin-bottom: 20px;
 padding: 20px;
}
.full-width{
    width: 90%;
}
.src{
    overflow: hidden;
        overflow-y: scroll;
}


@media only screen and (min-width: 500px) {
    .hide
    {
        display: block;
    }
   
}


  



