<div class="fluid-container">

  <mat-card class="mt10 scroll">
    <div class="mb10 head" style="background-color:#b9ddf6; border-radius: 8px;">
      <h2 class="mt10"
        style="font-size: large; text-align: center; color: rgb(41, 40, 40); font-weight: 500; font-size: 22px;">
        Welcome to 32Watts Inventory {{username}} </h2>

    </div>
    <mat-divider></mat-divider>

    <div class="row" style="margin: auto;">
      <div class="col-md-6">
        <mat-card class="example-card ml10 mt10 mb10 ">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Raw Material Stock</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>

          <mat-card-content class="scroll">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">Material Name</th>
                  <th scope="col">Stock</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let r of raw_materials; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{r.materialName}}</td>
                  <td>{{r.total_stock_in}}</td>

                </tr>


              </tbody>
            </table>
          </mat-card-content>

        </mat-card>
      </div>
      <!-- consumbales -->
      <div class="col-md-6">
        <mat-card class="example-card ml10 mt10 mb10 ">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Consumable Stock</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content class="scroll">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">Material Name</th>
                  <th scope="col">Stock</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of consumables; let j = index">
                  <th scope="row">{{ j + 1 }}</th>
                  <td>{{c.materialName}}</td>
                  <td>{{c.total_stock_in}}</td>

                </tr>


              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>

    </div>

    <!-- assets -->
    <div class="row mb20" style="margin: auto; padding-bottom: 10px;">
      <div class="col-md-6">

        <mat-card class="example-card mt10 mb10 " id="example-asset">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Assest Stock</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content class="scroll">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">Material Name</th>
                  <th scope="col">Stock</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let a of assets; let k = index">
                  <th scope="row">{{ k + 1 }}</th>
                  <td>{{a.materialName}}</td>
                  <td>{{a.total_stock_in}}</td>

                </tr>


              </tbody>
            </table>
          </mat-card-content>
        </mat-card>

      </div>


      <!-- stationary -->
      <div class="col-md-6">
        <mat-card class="example-card mt10 mb10 " id="stationary">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Stationary Stock</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content class="scroll">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">Material Name</th>
                  <th scope="col">Stock</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of stationary; let l = index">
                  <th scope="row">{{ l + 1 }}</th>
                  <td>{{s.materialName}}</td>
                  <td>{{s.total_stock_in}}</td>

                </tr>


              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>


    </div>



  </mat-card>




</div>