.text-center{
    margin-left: 220px;
    }
    
    
    .example-card {
        min-width: 340px;
       
        
        margin:4px 4px;
        padding:4px;
        height: 363px;
       
        overflow-y: auto;
        text-align:justify;

      }
      
      .example-header-image {
        background-image: url('../../../assets/images/homeicons/inventory.png');
        background-size: cover;
      
      }
      .width{
        width: 60% !important;
        margin-left: 30px !important;
      }
      .mar{
        margin-left: 45px;
      }
      .side{
        margin-left: 40px;
      }
    
      .side2{
        margin-left: 120px;
      }
    
      .decor{
        width: 180px;
        height: 160px;
        margin: auto;
        border-radius: 20px;
        padding: 5px;
      }

      .scroll {
        margin:4px, 4px;
        padding:4px;
        height: 600px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align:justify;
    }

    .scroll2 {
      margin:4px, 4px;
      padding:4px;
      height: 600px;
      overflow-x: hidden;
      overflow-y: auto;
      text-align:justify;
  }


    .head{
      font-family: "Lucida Console";
      text-shadow: 2px;
      letter-spacing: 5px;
      
    }
    #example-asset{
     width: 102%;
     margin-left: -10px;

    }
    #stationary{
      margin-left: 10px;
     width: 101%;
    }
  
 