.w100{
    width: 50%;
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
    margin-left: auto;
}
.logbtn{
    width: 15%;
    margin: auto;
 margin-bottom: 18px;
 margin-top: 10px;
 padding: 10px;
}

.w90{
    width: 90%;
}

.w100{
    width: 100%;
}
.scroll {
    margin:4px, 4px;
    padding:4px;
    height: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

table {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .scroll2 {
    margin:4px, 4px;
    padding:4px;
    height: 600px;
    overflow-x: auto;
    overflow-y: auto;
    text-align:justify;
}

th {
    top: 0;
    position: sticky;
    color: black;


    
 }
 a:hover{
    color: #2278ba;
 }
 a.clr{
    color: rgb(242, 86, 86);
 }
 a.clr:hover{
    color: red;
 }

 a{
    color: #99c2df;
  
 }

 a.img:hover{
    zoom: 105%;
    transition: 1.5x;
   }